[submodule "src/core"]
	path = src/core
	url = https://github.com/astrical-cms/core.git
[submodule "src/cli"]
	path = src/cli
	url = https://github.com/astrical-cms/cli.git
[submodule "src/modules/agent"]
	path = src/modules/agent
	url = https://github.com/astrical-modules/agent.git
[submodule "src/engine"]
	path = src/engine
	url = https://github.com/nexical/engine.git
